<div class="fetch-history-container" fxLayout="column" *ngIf="(accounts$ | async) as accounts; else loadingBlock">
  <h1>Fetch History</h1>
  <form [formGroup]="accountForm" class="fetch-history-filter" fxLayoutGap="20px">
    <account-autocomplete
      [accounts]="accounts"
      [reset]="reset"
      formControlName="accountId"
      fxFlex='300px'>
    </account-autocomplete>
    <button class="clear-filter" mat-icon-button (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </form>
  <div class="history-content">
    <ng-container *ngIf="(jobList$ | async) as jobList; else elseBlock">
      <mat-accordion class="chart-accordion" ex>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Analytic chart
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-chart [data]="jobList"></app-chart>
        </mat-expansion-panel>
      </mat-accordion>
      <div class='job-list-content'>
        <history-table [jobs]="jobList" [loading]="loading$ | async"></history-table>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div class="loading-section">
        <div>
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loadingBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
