<div class='table-container'>
  <mat-table [dataSource]="dataSource" class='job-table'>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let job">{{job.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="accountId">
      <mat-header-cell *matHeaderCellDef>Account Id</mat-header-cell>
      <mat-cell *matCellDef="let job">{{job.accountId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="serviceName">
      <mat-header-cell *matHeaderCellDef>Service Name</mat-header-cell>
      <mat-cell *matCellDef="let job">{{job.serviceName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="startedAt">
      <mat-header-cell *matHeaderCellDef>Started At</mat-header-cell>
      <mat-cell *matCellDef="let job">{{job.startedAt ? job.startedAt : '---'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="endedAt">
      <mat-header-cell *matHeaderCellDef>Ended At</mat-header-cell>
      <mat-cell *matCellDef="let job">{{job.endedAt ? job.endedAt : '---'}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let e = even;" [ngClass]="{'even' : e}"></mat-row>
  </mat-table>

  <div class="loading-section" *ngIf="loading">
    <div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
