<div class="upload-details-container" fxLayout="column" fxLayoutAlign='start center' fxLayoutGap="10px">
  <ng-container *ngIf="(uploadItem$ | async) as uploadItem">
    <div class="table">
      <div class="row header">
        <div class="cell report-id">Number of Reports</div>
        <div class="cell date">Date</div>
        <div class="cell by">By</div>
        <div class="cell by">Upload Id</div>
      </div>
      <div class="row">
        <div class="cell report-id">{{uploadItem.reportIds.length}}</div>
        <div class="cell date">{{uploadItem.date | date}}</div>
        <div class="cell by">{{uploadItem.createdBy}}</div>
        <div class="cell by">{{uploadItem._id}}</div>
      </div>
    </div>
<!--    <div class="refresh-container">-->
<!--      <mat-icon color="primary">refresh</mat-icon>-->
<!--    </div>-->
    <div class="validation-container" fxLayout="column" fxLayoutAlign='start' fxLayoutGap="10px">
      <div>Validated: <span [ngClass]="(uploadItem.validation.validated)+'-color'">{{uploadItem.validation.validated}}</span></div>
      <div>Is Valid: <span [ngClass]="(uploadItem.validation.valid)+'-color'">{{uploadItem.validation.valid}}</span></div>
      <div *ngIf="!uploadItem.validation.valid">
        <div fxLayoutGap="10px">Reason: <span class="color-alert">{{uploadItem.validation.reason}}</span></div>
        <div fxLayoutGap="10px">
          Invalid Report ids:
          <div *ngFor="let  reportId of uploadItem.validation.invalidReports">
            {{reportId}}
          </div>
        </div>
      </div>
    </div>
    <div class="services-list">
      <div fxLayout="column"
           fxLayoutAlign='space-around center'
           *ngFor="let service of uploadItem.services">
        <div class="service-item"  [ngClass]="(service.status) | lowercase">
          <div>Name: {{service.serviceName}}</div>
          <div>Status: {{service.status}}</div>
          <div *ngFor="let query of service.queries">
            <span>Query:{{query.id}} | Count: {{query.beforeDocCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="loading-section" *ngIf="loading$ | async">
    <div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
