<div class="upload-details-container" fxLayout="column" fxLayoutAlign='start center' fxLayoutGap="10px">
  <ng-container *ngIf="(uploadItem$ | async) as uploadItem">
    <div class="table">
      <div class="row header">
        <div class="cell report-id">Number of Reports</div>
        <div class="cell date">Date</div>
        <div class="cell by">By</div>
        <div class="cell by">Upload Id</div>
      </div>
      <div class="row">
        <div class="cell report-id">{{uploadItem.reportIds.length}}</div>
        <div class="cell date">{{uploadItem.date | date:'medium'}}</div>
        <div class="cell by">{{uploadItem.createdBy}}</div>
        <div class="cell by">{{uploadItem._id}}</div>
      </div>
    </div>
<!--    <div class="refresh-container">-->
<!--      <mat-icon color="primary">refresh</mat-icon>-->
<!--    </div>-->
    <mat-card class="validation-container" fxLayout="column" fxLayoutAlign='start' fxLayoutGap="10px">
      <mat-card-title>Validated: <span [ngClass]="(uploadItem.validation?.validated)+'-color'">{{uploadItem.validation?.validated}}</span></mat-card-title>
      <mat-card-title>Is Valid: <span [ngClass]="(uploadItem.validation?.valid)+'-color'">{{uploadItem.validation?.valid}}</span></mat-card-title>
      <div *ngIf="!uploadItem.validation?.valid">
        <mat-card-title fxLayoutGap="10px">Reason: <span class="color-alert">{{uploadItem.validation?.reason}}</span></mat-card-title>
        <mat-card-title fxLayoutGap="10px">
          Invalid Report ids:
          <div *ngFor="let  reportId of uploadItem.validation?.invalidReports">
            {{reportId}}
          </div>
        </mat-card-title>
      </div>
    </mat-card>
    <div class="services-list">
      <div fxLayout="column"
           fxLayoutAlign='space-around center'
           *ngFor="let service of uploadItem.services">
        <mat-card class="service-item"  [ngClass]="(service.status) | lowercase">
          <mat-card-title>{{service.serviceName}}</mat-card-title>
          <div>Status: {{service.status}}</div>
          <div *ngFor="let query of service.queries">
            <span>Query:{{query.id}} | Count: {{query.beforeDocCount}}</span>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <div class="loading-section" *ngIf="loading$ | async">
    <div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
