.table-container {
  height: calc(100vh - 150px);
  overflow: auto;
  .mat-header-row {
    .mat-column-action {
      width: 40px;
      max-width: 40px;
      padding-right: 0;
    }
  }
  .mat-row {
    &:hover {
      background-color: #f2f2f2;
    }
    .mat-column-action {
      padding-right: 0;
      width: 40px;
      max-width: 40px;
      text-align: center;
      .mat-icon {
        cursor: pointer;
      }
    }
  }
  .mat-icon {
    &.Finished {
      color: #a6e762;
    }
    &.Failed {
      color: darkred;
    }
    &.Pending {
      color: #e7e562;
    }
    &.InProgress {
      color: #629ce7;
    }
  }
}
.no-uploads {
  height: calc(100vh - 150px);
}
