<div fxLayout="column" class="job-details-container" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <a mat-icon-button class="back-to-list" [routerLink]="['../']">
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
    <h1>Job Details</h1>
  </div>
  <ng-container *ngIf="(jobItem$ | async) as jobItem">
    <div class="job-table">
      <div class="row header">
        <div class="cell id">Id</div>
        <div class="cell serviceName">Service Name</div>
        <div class="cell attemptedReportsCount">Attempted Reports Count</div>
        <div class="cell processedReportsCount">Processed Reports Count</div>
        <div class="cell createdAt">Created At</div>
        <div class="cell endedAt">Ended At</div>
      </div>
      <div class="row">
        <div class="cell id">{{jobItem.id}}</div>
        <div class="cell serviceName">{{jobItem?.serviceName}}</div>
        <div class="cell attemptedReportsCount">{{jobItem?.attemptedReportsCount}}</div>
        <div class="cell processedReportsCount">{{jobItem?.processedReportsCount}}</div>
        <div class="cell createdAt">{{jobItem?.createdAt | date}}</div>
        <div class="cell endedAt">{{jobItem?.endedAt | date}}</div>
      </div>
    </div>

    <div class="job-details">
      <report-table [reports]="jobItem.reports"></report-table>
    </div>

  </ng-container>

  <div class="loading-section" *ngIf="loading$ | async">
    <div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
