<div class="upload-container" fxLayoutAlign='center center'>
  <div fxLayout="column" fxFlex="700px" fxLayoutGap="20px">
    <div fxLayoutAlign='space-between center'>
      <div fxFlex="500px" [ngClass]="{'not-visible': (progress$ | async) === 0 }">
        <mat-progress-bar mode="determinate" [value]="(progress$ | async)"></mat-progress-bar>
      </div>
      <button mat-stroked-button color='primary' (click)="exportCsvTemplate()">Download template</button>
    </div>
    <div class="upload-block"
         fxLayout="column"
         fxLayoutAlign='start center'
         fxLayoutGap="20px"
         appDnd>
      <div class="error-message"
           *ngIf="!!fileError"
           fxLayoutAlign='start center'
           fxLayoutGap="5px">
        <mat-icon>error_outline</mat-icon>
        <div>{{fileError}}</div>
      </div>
      <mat-icon>attach_file</mat-icon>
      <h2>Drag and drop csv file here</h2>
      <h2>or</h2>
      <div (click)="uploadFile.click()">
        <button mat-stroked-button class="upload-button">{{file ? file.name : 'Browse for csv file'}}</button>
        <input #uploadFile
               (change)="onFileDropped($event.target['files'][0])"
               type='file' style="display:none" accept="text/csv"/>
      </div>
    </div>
  </div>
</div>
